
Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaia.csv

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaia.csv.gz

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaiaBright.csv

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaiaBright.csv.gz
