
Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaia.csv

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaia.csv.gz

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaiaBright.csv

Data Examination (Playing Around With Datasets)/Gaia LPV Testing/AllGaiaBright.csv.gz
Useful Code/Clustering/QualityGoodObjs.csv
*.npy
*.npy
*.pyc
Data Examination (Playing Around With Datasets)/Carlos Matched Objects/cflvsc_r01_crosssources.dat
Data Examination (Playing Around With Datasets)/Carlos Matched Objects/colourCarlosObjects.csv
*.npy
Resultssubclass/tanh/superclass/1) Red 250.npy
Resultssubclass/tanh/superclass/1) Red 250.npy
